<div class="container" style="padding-top:10%;">
	<h1>User Details</h1>
	<h3><%-User.Name%> <%- User.Lastname %></h3>
	<h3>Contact: <%-  User.Email %></h3>
	<br>
	<a href="/user/" class="btn btn-medium btn-primary">Return</a>
</div>
<!-- <a href="/user/edit/<%= User.id %>" class="btn btn-medium btn-primary">Return</a> -->