<!-- Default home page -->
<div class="container" align="center">
	<div class="jumbotron">
		<h1>Test Sails.JS</h1>
		<h2>The web framwork of your dreams</h2>
		<a href="user/new" class="btn btn-lg btn-success">Sing Up now</a>
	</div>
</div>